{% extends "includes/base.twig" %}

{% block content %}
<main role="main" id="main" class="post">
  <article lang="{{ meta.lang ? meta.lang : 'sl' }}">
    <h1>
      {{ meta.title }}
    </h1>

    <address>
      {% if meta.author %}
        {% if meta.author is iterable %}
          {% for author in meta.author %}
            <span>{{ author }}</span>
          {% endfor %}
        {% else %}
          <span>{{ meta.author }}</span>
        {% endif %}
      {% endif %}

      {% if meta.source %}
        {% if meta.source is iterable %}
          {% for source in meta.source %}
            <span>{{ source }}</span>
          {% endfor %}
        {% else %}
          <span>{{ meta.source }}</span>
        {% endif %}
      {% endif %}

      <time datetime="{{ modificationTime|date('Y-m-d') }}">
        {{ meta.date }}({{ modificationTime|date("d. m. Y G:i") }})
      </time>
    </address>

    {{ content }}
  </article>

  {% for page in pages(current_page.id) %}
  <article lang="{{ page.meta.lang ? page.meta.lang : 'sl' }}">
    <h1>
      {{ page.title }}
    </h1>

    <address>
      {{ page.author }}
      {% if page.meta.source %}
      <span>
        {{ page.meta.source }}
      </span>
      {% endif %}
      <time datetime="{{ page.modificationTime|date('Y-m-d') }}">
        ({{ page.modificationTime|date("d. m. Y G:i") }})
      </time>
    </address>

    {{ page.id|content }}
  </article>
  {% endfor %}
</main>
{% endblock %}
