{% extends "includes/base.twig" %}

{% block content %}
<main role="main" id="main" class="search">
  {% set pagesArr = pages(depth=null)|filter(p => p.meta.template == "post" and not p.hidden)%}

  <form id="search_form" action="{{ "search"|link }}">
    <input type="search" id="search_input" name="q" value="{{ search_terms|e('html_attr') }}" placeholder="išči kontrakurs"/>

    <button type="submit" id="search_submit">išči</button>
  </form>

  <script type="text/javascript">
    // Intercept form submit and go to the search results page directly, avoiding a redirect
    document.getElementById('search_form').addEventListener('submit', function (e) {
      var search_terms = document.getElementById('search_input').value;
      location.href = '{{ "search"|link }}/' + encodeURIComponent(search_terms);
      e.preventDefault();
    });
  </script>

  {% if search_terms %}
    {% set search_results = pagesArr|apply_search %}

    {% if search_results %}
      <h1>Zadetki za <i>{{ search_terms|e('html') }}</i></h1>

      {% for page in search_results %}
        <article>
          <h2>
            <a href="{{ page.url }}">
              {{ page.title }}
            </a>
          </h2>

          {{ include( "includes/address.twig", { author: page.author, source: page.meta.source, time: page.modificationTime } ) }}

          {% set raw_text = page.raw_content|split("---")[2] %}

          {% set words = search_terms %}

          {% for char in words|split("") %}
            {% if char matches "/[^a-zA-Z0-9 ]/" %}
              {% set words = words|replace({ (char):"" }) %}
            {% endif %}
          {% endfor %}

          {% for word in words|split(" ") %}
            {% set wordCap = word|title %}
            {% set wordLow = word|lower %}

            {% for term in [wordCap, wordLow] %}
              {% if term in raw_text %}
                {% for part in raw_text|split(term) %}
                  {% if loop.index0 % 2 == 0 %}
                    {% set before = part|split("\n\n")|last %}
                    {% set after = raw_text|split(term)[loop.index]|split("\n\n")|first %}
                    <div class="">
                      {{ (before ~ "**" ~ term ~ "**" ~ after) }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {#
          {% if search_terms in page.raw_content|split("---", 3)[2] %}
            {{ ("…" ~ page.raw_content|split("---", 3)[2]|split(search_terms, 2)[0]|slice(-200) ~ "**" ~ search_terms ~ "**" ~ page.raw_content|split("---", 3)[2]|split(search_terms, 2)[1]|slice(0, 200) ~ "…")|markdown }}
          {% elseif search_terms|capitalize in page.raw_content|split("---", 3)[2] %}
          {{ ("…" ~ page.raw_content|split("---", 3)[2]|split(search_terms|capitalize, 2)[0]|slice(-200) ~ "**" ~ search_terms|capitalize ~ "**" ~ page.raw_content|split("---", 3)[2]|split(search_terms|capitalize, 2)[1]|slice(0, 200) ~ "…")|markdown }}
          {% endif %}
          #}
        </article>
      {% endfor %}
    {% else %}
      <p>Ni zadetkov za {{ search_terms|e('html') }}.</p>
    {% endif %}
  {% endif %}
</main>
{% endblock %}
