<a href="{{ page.url }}" class="card">
  <article>
    <h2>
      {{ page.title }}
    </h2>

    <address>
      {% if page.author %}
        {% if page.author is iterable %}
          {% for author in page.author %}
            <span>{{ author }}</span>
          {% endfor %}
        {% else %}
          <span>{{ page.author }}</span>
        {% endif %}
      {% endif %}

      {% if page.meta.source %}
        {% if page.meta.source is iterable %}
          {% for source in page.meta.source %}
            <span>{{ source }}</span>
          {% endfor %}
        {% else %}
          <span>{{ page.meta.source }}</span>
        {% endif %}
      {% endif %}

      <time datetime="{{ page.modificationTime|date('Y-m-d') }}">
        ({{ page.modificationTime|date("d. m. Y G:i") }})
      </time>
    </address>

    {% if page.description %}
      <blockquote>
        {{ page.description|markdown }}
      </blockquote>
    {% endif %}
  </article>
</a>
