{% set nav = pages["index"].meta.nav %}
{% if nav %}
  <nav role="navigation" tabindex="-1">
    <!-- internal navigation -->
    {% if nav.internal %}
      <ul class="flex-nav">
        {% for page in nav.internal %}
          {% set p = pages[page] %}
          <li>
            <a
              href="{{ p.url }}"
              class="{{ p.id == current_page.id ? "active" : "" }}"
              >
              {{ p.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <!-- external navigation -->
    {% if nav.external %}
      <ul class="flex-nav">
        {% for page,link in nav.external %}
          <li>
            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
              {{ page }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
{% endif %}
